@import url(styles/header.css);
@import url(styles/metricas.css);
@import url(styles/vagas.css);
@import url(styles/feedback.css);
@import url(styles/formulario.css);
@import url(styles/rodape.css);

:root {
    --cor-de-fundo: #FFFFFF;
    --vermelho: #8E2424;
    --cinza: #667085;
    --cinza-escuro: #8E24240D;
    --cinza-mais-escuro: #C3191908;
    --fonte-principal: "Inter", sans-serif;
    --preto: black;
}

body {
    background-color: var(--cor-branca);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

@media screen and (max-width: 768px) {

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__itens {
        flex-direction: column;
        gap: 1rem;
    }

    .cabecalho__botoes {
        justify-content: center;
    }

    .container__cabecalho {
        padding: 48px 32px;
    }

    .container__metricas {
        display: block;
        text-align: center;
        padding-bottom: 10%;
    }

    .subtitulo__metricas {
        margin: 1% 0% 2% 0%;
    }

    .container__vagas__textos {
        padding-bottom: 1%;
    }

    .container__vagas__abertas {
        padding: 0% 10%;
    }

    .titulo__vagas__abertas {
        text-align: center;
    }

    .container__feedback {
        padding-bottom: 20%;
    }

    .input__formulario {
        margin-bottom: 2%;   
    }

    .container__formulario {
        padding: 15px 32px 15px 32px;
    }

    .rodape {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        padding: 2rem;
    }

    .rodape__titulo {
        font-size: 1.6rem;
    }

    .lista-rodape {
        align-items: center;
        gap: 0.8rem;
    }

    .lista-rodape__titulo {
        font-size: 1.1rem;
    }

    .lista-rodape__item {
        font-size: 1rem;
    }
}            
