.container__feedback {
    text-align: center;
    padding: 5% 9% 8% 9%;
}

.caixa__feedback {
    background-color: var(--cinza-mais-escuro);
    padding: 3%;
    border-radius: 16px;
}

.texto__feedback {
    font-size: 16px;
    font-weight: 600;
    color: var(--vermelho);
}

.titulo__feedback {
    font-weight: 500;
    margin-top: 1em;
    font-size: 36px;
}

.julia {
    margin-top: 1.5em;
}

.nome__colaboradora__feedback {
    font-weight: 500;
    font-size: 16px;
    margin: 1% 0% 0.5% 0%;
}

.cargo__colaboradora__feedback {
    color: var(--cinza);
    font-weight: 400;
    font-size: 14px;
    margin: 0%;
    margin-top: 0.8em;
}