.cabecalho__itens{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho__logo{
    display: flex;
    align-items: center;
}

.cabecalho__titulo {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0.5em;
}

.cabecalho__menu{
    display: flex;
    margin: 0 15em 0 1em;
}

.lista__itens {
    margin: 0 1em;
}

.cabecalho__lista{
    display: flex;
    margin: 2em;
}

.cabecalho__link{
    text-decoration: none;
    color: var(--cinza);
}

.botao__cadastro{
    background-color: var(--vermelho);
    color: var(--cor-de-fundo);
    padding: 10px 18px;
    border-radius: 5px;
}

.container__cabecalho {
    text-align: center;
    padding: 6rem 0rem;
}

.subtitulo__cabecalho {
    color: var(--vermelho);
    font-size: 1rem;
    font-weight: 600;
}

.titulo__cabecalho {
    font-size: 48px;
    margin-top: 0.7em;
    font-weight: 600;
}

.texto__cabecalho {
    font-size: 20px;
    color: var(--cinza);
    padding: 0% 22%;
    margin-top: 2em;
}
